<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="MigAssistant.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<system.diagnostics>
		<sources>
			<!-- This section defines the logging configuration for My.Application.Log -->
			<source name="DefaultSource" switchName="DefaultSwitch">
				<listeners>
					<add name="FileLog"/>
					<!-- Uncomment the below section to write to the Application Event Log -->
					<!--<add name="EventLog"/>-->
				</listeners>
			</source>
		</sources>
		<switches>
			<add name="DefaultSwitch" value="Information"/>
		</switches>
		<sharedListeners>
			<add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
			<!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
			<!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
		</sharedListeners>
	</system.diagnostics>
	<applicationSettings>
		<MigAssistant.My.MySettings>
   <setting name="MigrationNetworkLocation" serializeAs="String">
    <value>\\ServerName\MigrationShare</value>
   </setting>
   <setting name="MigrationExclusionsDomain" serializeAs="String">
    <value>*_Admin</value>
   </setting>
   <setting name="MigrationExclusionsLocal" serializeAs="String">
    <value>Administrator, ASPNET, Guest, HelpAssistant, __vmware_user__</value>
   </setting>
   <setting name="MigrationXPOnly" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="MigrationRuleSetXPOnly" serializeAs="String">
    <value>MigUser.XML,MigApp.XML</value>
   </setting>
   <setting name="USMTLoggingValue" serializeAs="String">
    <value>4</value>
   </setting>
   <setting name="MigrationConfig" serializeAs="String">
    <value>Config.XML</value>
   </setting>
   <setting name="MigrationConfigXPOnly" serializeAs="String">
    <value>ConfigXPOnly.XML</value>
   </setting>
   <setting name="MigrationEncryptionDisabled" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="SettingsHealthCheckDefaultEnabled" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="SettingsWorkstationDetailsDisabled" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="SettingsAdvancedSettingsDisabled" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="MigrationUSBMinSize" serializeAs="String">
    <value>2048</value>
   </setting>
   <setting name="MigrationScriptsPreCapture" serializeAs="String">
    <value />
   </setting>
   <setting name="MigrationScriptsPostCapture" serializeAs="String">
    <value />
   </setting>
   <setting name="MigrationScriptsPreRestore" serializeAs="String">
    <value />
   </setting>
   <setting name="MigrationScriptsPostRestore" serializeAs="String">
    <value />
   </setting>
   <setting name="MigrationScriptsNoWindow" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="MigrationOverWriteExistingFolders" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="MailSend" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="MailServer" serializeAs="String">
    <value>smtp.mailserver.com</value>
   </setting>
   <setting name="MailRecipients" serializeAs="String">
    <value>admin@mycompany.com</value>
   </setting>
   <setting name="MailFrom" serializeAs="String">
    <value>migassistant@mycompany.com</value>
   </setting>
   <setting name="MigrationRuleSet" serializeAs="String">
    <value>MigUser.XML,MigApp.XML</value>
   </setting>
   <setting name="MigrationMaxSize" serializeAs="String">
    <value>20480</value>
   </setting>
   <setting name="MigrationNetworkLocationDisabled" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="MigrationCompressionDisabled" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="MigrationEncryptionDefaultKey" serializeAs="String">
    <value>T3stEnCrypt10n</value>
   </setting>
   <setting name="SettingsDebugMode" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="MigrationRestoreAccountsPassword" serializeAs="String">
    <value />
   </setting>
   <setting name="MigrationRestoreAccountsEnabled" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="MigrationExclusionsOlderThanDays" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="MigrationDomainChange" serializeAs="String">
    <value />
   </setting>
   <setting name="MigrationUSBAutoUseIfAvailable" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="MigrationMultiUserMode" serializeAs="String">
    <value>False</value>
   </setting>
  </MigAssistant.My.MySettings>
	</applicationSettings>
	<startup/></configuration>
